
*{
  text-align: center;
  font-family: cursive;
}

h1{
  font-size: 8em;
}
input{
  font-size: 40px;
}

.submit{
filter:brightness(100);
font-size: 60px;

}

.submit:active{
  transform: rotate(180deg);
}
