*{
  text-align: center;

}
input{
  font-size: 30px;
}
.uno{
  width: 49%;
  height: 49%;
  float: left;
  position: relative;
  margin-bottom: 2%;
}
.dos{
  width: 49%;
  height: 49%;
  float: right;
  position: relative;
  margin-bottom: 2%;
}

.submit{
width: 60%;
font-style: italic;
}


h2{
  margin-bottom: 1%;
}
input{
  width: 75%;
}
